section {
  width: 100vw;
  height: ;
}
.title {
  font-size: 20px;
  text-align: center;
}
.minititle {
  text-align: center;
}

.photo {
  width: 300px;
  height: 150px;
  background-size: cover;
  background-image: url(car.jpg);
  position: relative;
}

.name {
  position: absolute;
  bottom: 1px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
